/* Individual Selfie Card/Component  */
.SelfieCardsWrapper {
  display: inline-grid;
  max-width: 250px;
  flex-direction: column;
  grid-template-columns: 100px 20px 100px;
  /* grid-template-columns: 100px 100px; */
  grid-template-rows: 80px auto 80px;
  /* column-gap: 20px; */
  row-gap: 50px;
  flex-wrap: wrap;

  /* border: solid 3px red; */
}

.SelfieCard {
  /* display: flex; */
  display: inline;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  /* overflow: hidden; */
}

.ButtonDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 185px;
  z-index: 1;
  margin-bottom: 15px;
}

.SelfieCard button {
  margin: 5px;
  background: #d1d1d1;
  border-radius: 999px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 2px 12px;
  width: fit-content;
  border: 0;
}

.SelfieCard button:hover {
  background-color: #632ce4;
  color: whitesmoke;
}

.Selfie-Overlay {
  border-radius: 15px;
  text-align: center;
  position: absolute;
  padding-top: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  color: black;
  background-color: white;
  /* background-color: #c3a527; */
  /* background-color: #632ce4; */
}

.SelfieCard:hover .Selfie-Overlay {
  opacity: 0.5;
}

/* SELFIES LIST COMPONENT - CONTAINS THE CARDS GRID */
.SelfiesList {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 85px;
  width: 600px;
  border-right: 1px solid #d1d1d1;
  min-height: 100vh;
  /* background-color: lightslategray; */
}

/* Add Selfie Form Side  */
.AddSelfieWrapper {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* background-color: #191a1b; */
  /* background-color: purple; */
  padding-left: 85px;
  width: 600px;
  display: flex;
}

.AddSelfieFormBox {
  margin-top: 45px;
  border: 2px solid white;
  border-radius: 15px;
  color: black;
  padding: 60px;
  /* Background color is transparent */
  background: rgba(186, 186, 186, 0.735);
  /* box-sizing: border-box; */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  /* border-radius: 10px; */
  /* margin-bottom: 10%; */
}

.AddSelfieLabel {
  font-family: "Poppins", sans-serif;
}

.InputLine {
  display: block;
  padding: 10px 55px;
  background: white;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}

.AddSelfieFormBox button {
  margin: 5px;
  background: #d1d1d1;
  border-radius: 999px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 2px 12px;
  width: fit-content;
  border: 0;
}

.AddSelfieFormBox button:hover {
  background-color: #632ce4;
  color: whitesmoke;
}
