/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* ====================
  Fonts being used in this project are:
  * font-family: 'Bebas Neue', sans-serif;
==================== */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Main {
  width: 100vw;
  height: 100vh;

  background-color: #191a1b;
  /* text-align: center; */
  font-family: "Bebas Neue", sans-serif;
  color: whitesmoke;
}

h1 {
  color: #fdcd00;
  text-align: left;
  padding-top: 25px;
  padding-left: 15px;
  font-size: 55px;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #191a1b;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.Sidebar .row {
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  /* color: #fdcd00; */
  color: #d5d5d5;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #707070;
}
.SidebarList #active {
  background-color: #525151;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* .Home {
  color: red;
  font-size: 250px;
  background-color: red;
  text-align: center;
  display: flex;
  height: 99vh;
  align-items: center;
  justify-content: center;
} */
